# IP for logging
set(LOGGER_IP 192.168.1.1)
set(LOGGER_PORT 3080)

# Switch IP for FTP
set(FTP_IP 192.168.1.1)
set(FTP_PORT 5000)
set(FTP_USER abcd)
set(FTP_PASS xyz123)

# Extra cmake code
add_compile_definitions(
    # ...
)
